<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input type="Number" label="Digite o valor da prestação:" placeholder="Insira o valor" [(ngModel)]="prestacao" ></ion-input>
  </ion-item>

  <ion-item>
    <p>Taxa de Juros mensal:</p>
    <ion-range class="range" labelPlacement="center" [pin]="true" label="" [min]="1" [max]="12" [(ngModel)]="taxa" ></ion-range>
  </ion-item>

  <ion-item>
    <p>Meses em atraso:</p>
    <ion-range class="range" labelPlacement="center" [pin]="true" label="" [min]="1" [max]="12" [(ngModel)]="meses"></ion-range>
  </ion-item>

  <ion-button (click)="calcValor()" class="button" expand="block">Ver valores</ion-button>

</ion-content>
