<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App para Plantio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="text-home">
    Insira as Temperaturas
  </h1>
  <p class="sub-home"> Atenção: Dos últimos 4 meses, em Celcius.</p>

  <ion-range class="range" labelPlacement="end" label="{{temp1}}C" [min]="0" [max]="40" [(ngModel)]="temp1"></ion-range>

  <ion-range class="range" labelPlacement="end" label="{{temp2}}C" [min]="0" [max]="40" [(ngModel)]="temp2"></ion-range>

  <ion-range class="range" labelPlacement="end" label="{{temp3}}C" [min]="0" [max]="40" [(ngModel)]="temp3"></ion-range>

  <ion-range class="range" labelPlacement="end" label="{{temp4}}C" [min]="0" [max]="40" [(ngModel)]="temp4"></ion-range>

  <ion-button (click)="calcMedia()" class="button" expand="block">Calcular Média da Temperatura</ion-button>

</ion-content>
