<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tela-frutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tela-frutas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-label class="resultado">A temperatura média é {{res}}C</ion-label>
  </ion-card>

  <ion-item>
    <ion-label class="fruta">Frutas: {{fruta}}</ion-label>
  </ion-item>

  <br>

  <ion-button expand="block" routerLink="/">VOLTAR</ion-button>

</ion-content>
